@import "tailwindcss";
:root {
  --colorBlack: #333446;
  --colorDark: #4a5568;
  --colorDarkGray: #6b7282;
  --colorGrey: #7f8caa;
  --colorLightgreen: #b8cfce;
  --colorLight: #eaefef;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--colorLight);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--colorBlack);
  line-height: 1.6;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #213547;
  }
}
